/*

# The Mad CSScientist's Buttons
written by Tommy Hodgins: https://gist.github.com/tomhodgins/16786c10f4b37d122d16

## Usage
Include a `<link>` to this file in your HTML.

    <link href=data-buttons.css rel=stylesheet>

To apply button styles to an element, add the `data-button` attribute.
Add `green`, `blue`, and `grey` values to the `data-button` attribute for different color themes.

    <a data-button href=#>link</a>
    <label data-button=blue>label</label>
    <input data-button=green type=button value=Button>

*/

[data-button] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  width: auto;
  margin: .5em auto;
  padding: .6em .7em .7em .7em;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  background: #ff8900;
  background: -moz-linear-gradient(top, #ff8900 0%, #ff3d00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8900), color-stop(100%,#ff3d00));
  background: -webkit-linear-gradient(top, #ff8900 0%,#ff3d00 100%);
  background: -o-linear-gradient(top, #ff8900 0%,#ff3d00 100%);
  background: -ms-linear-gradient(top, #ff8900 0%,#ff3d00 100%);
  background: linear-gradient(to bottom, #ff8900 0%,#ff3d00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8900', endColorstr='#ff3d00',GradientType=0 );
  font-family: 'Source Sans Pro', 'Myriad Pro', 'Open Sans', Roboto, Myriad, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-kerning: auto;
  text-decoration: none;
  text-align: center;
  font-size: 14pt;
  line-height: 1;
  color: #fff;
  text-shadow: #e20 1px 1px 0;
  border: 1px solid #f60;
  border-bottom-color: #e20;
  box-shadow: inset #f20 0 -5px 15px, inset #fc6 0 1px 1px, rgba(0,0,0,.15) 0px 1px 1px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
[data-button]:hover,
[data-button]:focus {
  background: #fa3;
  background: -moz-linear-gradient(top, #fa3 0%, #f30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa3), color-stop(100%,#f30));
  background: -webkit-linear-gradient(top, #fa3 0%,#f30 100%);
  background: -o-linear-gradient(top, #fa3 0%,#f30 100%);
  background: -ms-linear-gradient(top, #fa3 0%,#f30 100%);
  background: linear-gradient(to bottom, #fa3 0%,#f30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa3', endColorstr='#f30',GradientType=0 );
  box-shadow: inset #f40 0 -5px 15px, inset #ffd28a 0 1px 1px, rgba(0,0,0,.15) 0px 1px 1px, rgba(255,200,0,.5) 0 0 10px;
}
[data-button]:active {
  background: #f50;
  border: 1px solid #f00;
  box-shadow: inset #f40 0 -5px 15px, inset #ffd28a 0 1px 1px;
  border-bottom-color: #d10;
}
/* Blue Theme */
[data-button=blue] {
  background: #00ccff;
  background: -moz-linear-gradient(top, #00ccff 0%, #0080ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ccff), color-stop(100%,#0080ff));
  background: -webkit-linear-gradient(top, #00ccff 0%,#0080ff 100%);
  background: -o-linear-gradient(top, #00ccff 0%,#0080ff 100%);
  background: -mr-linear-gradient(top, #00ccff 0%,#0080ff 100%);
  background: linear-gradient(to bottom, #00ccff 0%,#0080ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#0080ff',GradientType=0 );
  text-shadow: #06e 1px 1px 0;
  border: 1px solid #07f;
  border-bottom-color: #02e;
  box-shadow: inset #0065ff 0 -5px 15px, inset #99ffff 0 1px 1px, rgba(0,0,0,.15) 0px 1px 1px;
}
[data-button=blue]:hover,
[data-button=blue]:focus {
  background: #7df;
  background: -moz-linear-gradient(top, #7df 0%, #07f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7df), color-stop(100%,#07f));
  background: -webkit-linear-gradient(top, #7df 0%,#07f 100%);
  background: -o-linear-gradient(top, #7df 0%,#07f 100%);
  background: -mr-linear-gradient(top, #7df 0%,#07f 100%);
  background: linear-gradient(to bottom, #7df 0%,#07f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7df', endColorstr='#07f',GradientType=0 );
  box-shadow: inset #08f 0 -5px 15px, inset #cef 0 1px 1px, rgba(0,0,0,.15) 0px 1px 1px, rgba(0,200,255,.5) 0 0 10px;
}
[data-button=blue]:active {
  background: #05f;
  border: 1px solid #00f;
  box-shadow: inset #04f 0 -5px 15px, inset #8ad2ff 0 1px 1px;
  border-bottom-color: #01d;
}
/* Green Theme */
[data-button=green] {
  background: #6a1;
  background: -moz-linear-gradient(top, #6a1 0%, #360 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a1), color-stop(100%,#360));
  background: -webkit-linear-gradient(top, #6a1 0%,#360 100%);
  background: -o-linear-gradient(top, #6a1 0%,#360 100%);
  background: -ms-linear-gradient(top, #6a1 0%,#360 100%);
  background: linear-gradient(to bottom, #6a1 0%,#360 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a1', endColorstr='#360',GradientType=0 );
  text-shadow: #062 1px 1px 0;
  border: 1px solid #480;
  border-bottom-color: #005822;
  box-shadow: inset #072 0 -5px 15px, inset #8e8 0 1px 1px, rgba(0,0,0,.15) 0px 1px 1px;
}
[data-button=green]:hover,
[data-button=green]:focus {
  background: #6d4;
  background: -moz-linear-gradient(top, #6d4 0%, #360 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d4), color-stop(100%,#360));
  background: -webkit-linear-gradient(top, #6d4 0%,#360 100%);
  background: -o-linear-gradient(top, #6d4 0%,#360 100%);
  background: -ms-linear-gradient(top, #6d4 0%,#360 100%);
  background: linear-gradient(to bottom, #6d4 0%,#360 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a3', endColorstr='#360',GradientType=0 );
  box-shadow: inset #064 0 -5px 15px, inset #8e8 0 1px 1px, rgba(0, 255, 75, 0.5) 0 0 10px, rgba(0,0,0,.15) 0px 1px 1px;
}
[data-button=green]:active {
  background: #360;
  border: 1px solid #005822;
  border-bottom-color: #052;
  box-shadow: inset #040 0 -5px 15px, inset #8e8 0 1px 1px;
}
/* Grey Theme */
[data-button=grey] {
  background: #475875;
  background: -moz-linear-gradient(top, #475875 0%, #36455d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#475875), color-stop(100%,#36455d));
  background: -webkit-linear-gradient(top, #475875 0%,#36455d 100%);
  background: -o-linear-gradient(top, #475875 0%,#36455d 100%);
  background: -ms-linear-gradient(top, #475875 0%,#36455d 100%);
  background: linear-gradient(to bottom, #475875 0%,#36455d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475875', endColorstr='#36455d',GradientType=0 );
  text-shadow: #151d31 1px 1px 0;
  border: 1px solid #36455d;
  border-bottom-color: #151d31;
  box-shadow: inset #151d31 0 -5px 15px, inset #ccf 0 1px 1px, rgba(0,0,0,.15) 0px 1px 1px;
}
[data-button=grey]:hover,
[data-button=grey]:focus {
  background: #617699;
  background: -moz-linear-gradient(top, #617699 0%, #475875 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#617699), color-stop(100%,#475875));
  background: -webkit-linear-gradient(top, #617699 0%,#475875 100%);
  background: -o-linear-gradient(top, #617699 0%,#475875 100%);
  background: -ms-linear-gradient(top, #617699 0%,#475875 100%);
  background: linear-gradient(to bottom, #617699 0%,#475875 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#617699', endColorstr='#475875',GradientType=0 );
  box-shadow: inset #2d3950 0 -5px 15px, inset #ccf 0 1px 1px, rgba(0,0,0,.15) 0px 1px 1px, rgba(200,200,255,.5) 0 0 10px;
}
[data-button=grey]:active {
  background: #151d31;
  border: 1px solid #151d31;
  box-shadow: inset #2d3950 0 -5px 15px, inset #ccf 0 1px 1px;
  border-bottom-color: #0a0f22;
}