/* FreshStart Toronto */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
::-moz-selection {
  color: #fff;
  text-shadow: #007931 1px 2px 2px;
  background-color: #26ba62 !important;
}
::-webkit-selection {
  color: #fff;
  text-shadow: #007931 1px 2px 2px;
  background-color: #26ba62 !important;
}
::selection {
  color: #fff;
  text-shadow: #007931 1px 2px 2px;
  background-color: #26ba62 !important;
}
html {
  color: #555;
  min-height: 100vh;
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
background: #ffffff;
background: -moz-linear-gradient(-45deg, #ffffff 0%, #eeeeee 100%);
background: -webkit-linear-gradient(-45deg, #ffffff 0%,#eeeeee 100%);
background: linear-gradient(135deg, #ffffff 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 );
}
body {
  margin: 0;
  padding-top: 40px;
  transition: padding .1s linear;
}
q:before {content: '\201c'}
q:after  {content: '\201d'}
q q:before {content: '\2018'}
q q:after  {content: '\2019'}
h1, h2, h3, h4, h5, h6 {
  color: #555;
  margin: .5em 0;
  display: block;
  font-weight: 600;
  letter-spacing: .-03em;
  line-height: 1.2;
  font-family: 'Fira Sans', 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}
h1 {
  color: #333;
  font-size: 280%;
  font-weight: 700;
  line-height: 1.2;
}
hr {
  margin: 0;
  height: 0;
  padding: 0;
  background: none;
  border: none;
}
h2 {
  font-size: 300%;
}
h3 {
  font-size: 220%;
}
h4 {
  font-size: 180%;
}
h5 {
  font-size: 140%;
}
h6 {
  font-size: 120%;
}
a {
  color: saddlebrown;
  text-decoration: none;
  outline: none !important;
  transition: color .2s ease-in-out;
}
p > a {
  text-decoration: underline !important;
}
a:hover,
a:focus {
  color: sienna;
}
li {
  font-size: 140%;
  padding: .25em 0;
}
p {
  margin: 0;
  font-weight: 400;
  font-size: 140%;
}
* + p {
  margin-top: .5em;
}
input,
textarea {
  width: 100%;
  font-size: 140%;
  margin-bottom: 1em;
  padding: 10px 8px;
}
header {
  background: white;
  text-align: center;
  padding: .5rem 0;
  font-size: 120%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  box-shadow: rgba(0,0,0,.3) 0 0 30px;
}
header a {
  display: inline-block;
  color: black;
  font-weight: 500;
  padding: 0 .5rem;
}
header a.active {
  color: #D9C1B3;
}
header a:hover,
header a:focus {
  color: #D9C1B3;
}
[data-button] {
  border-radius: 4px !important;
}
[data-button]:hover,
[data-button]:focus {
  color: white !important;
}
[data-button]:active {
  color: #eee !important;
}
#brand {
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: -.02em;
}
#brand svg {
  width: 100%;
  height: 23px;
}
nav {
  display: block;
  width: 100%;
}
footer {
  padding: 2rem 1rem;
  text-align: center;
  color: #777;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
aside {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  transition: all .2s ease-in-out;
  text-align: center;
}
aside h1,
aside h2 {
  color: white;
  display: inline-block;
  margin: 0;
  margin-top: 20vh;
  margin-bottom: 0;
  padding: 1rem;
  background: rgba(0,0,0,.75);
  transition: all .2s ease-in-out;
}
aside hr + h2 {
  margin-top: 0;
}
.family h1 {
  font-size: 175%;
  margin-bottom: 0;
}
.family h2 {
  font-size: 250%;
}
aside h2 {
  font-size: 350%;
  line-height: 1;
  margin-bottom: 0;
}
aside a {
  color: #D9C1B3;
}
aside a:hover,
aside a:focus {
  color: gold;
}
.toronto {
  background-image: url('../img/toronto.jpg');
}
.family {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  padding-top: 10vh;
  background-image: url('../img/family.jpg');
  background-position: center 30%;
}
.refugees {
  background-image: url('../img/refugees.jpg');
}
.about {
  background-image: url('../img/about.jpg');
  background-position: center 25%;
}
.help {
  background-image: url('../img/help.jpg');
  background-position: center 75%;
}
.contact {
  background-image: url('../img/contact.jpg');
  background-position: center bottom;
}
article {
  background: white;
  padding: 1rem;
}
blockquote,
main {
  padding: 0;
  margin: 0;
  padding: 2rem;
  margin: 0 auto;
  max-width: 900px;
}
blockquote.update {
  font-weight: 400;
  font-style: normal;
}
blockquote.update p {
  font-size: 160%;
}
blockquote + main {
  padding-top: 0;
}
blockquote p {
  font-style: italic;
  font-size: 200%;
  font-weight: 300;
}
blockquote p strong {
  font-weight: 400;
}
@media (min-width: 530px) {
  header {
    text-align: right;
    padding: 0;
  }
  header a {
    padding: 1rem;
  }
  #brand {
    position: absolute;
    top: -1pt;
    left: 0;
    line-height: 1;
  }
  nav {
    width: auto;
  }
  aside {
    text-align: left;
  }
  aside h2 {
    font-size: 350%;
  }
}
@media (min-width: 930px) {
  aside h1,
  aside h2 {
    margin-top: 35vh;
    font-size: 300%;
    line-height: 1;
  }
  .family h1 {
    margin-bottom: 0;
    font-size: 225%;
  }
  .family h2,
  aside h2 {
    font-size: 400%;
    margin-bottom: 0;
  }
}

/* Responsive Videos */
[data-video] {
  position: relative;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
[data-video] * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* To-Do List */
[data-list] {
  max-width: 600px;
  margin: 3em auto;
  background: white;
  box-shadow: rgba(0,0,0,.15) 5px 10px 30px;
  padding: 1em 3em;
}
[data-list] label {
  display: block;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  position: relative;
  padding-left: 50px;
}
[data-list] label:last-of-type {
  margin-bottom: 0;
}
[data-list] input {
  display: none;
}
[data-list] input:checked + span {
  opacity: .3;
  text-decoration: line-through;
}
[data-list] span {
  font-size: 18pt;
  line-height: 1.3;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}
[data-list] span:before {
  content: '\f372';
  font-family: 'ionicons';
  position: absolute;
  top: 11.25pt;
  left: 0;
  font-size: 24pt;
  line-height: 1;
}
[data-list] input:checked + span:before {
  content: '\f373';
}
[data-list] [data-button] {
  margin: 0 0 0 .5em;
  padding: .4em .6em !important;
  font-size: 12pt;
}